.dialogReviewDetails {
  .txtAddress {
    color: #008489;
    font-size: 14px;
  }

  .iconLocation {
    vertical-align: bottom;
    font-size: 20px;
  }

  .spanViews {
    font-size: 10px;
    color: gray;
    padding-left: 5px;
  }

  .dialogTitle {
    text-align: right;
    padding: 0px;
  }

  .dialogContent {
    padding: 0 16px 16px;
  }

  .titleMargin {
    margin-bottom: 16px;
  }

  .titleDetails {
    text-transform: uppercase;
    border-bottom: 3px solid $primary;
    padding: 5px 0px;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 10px;
  }

  .imageRoom {
    width: 100%;
    height: 180px;
    object-fit: cover;
  }

  .btStatus {
    margin: 8px 8px 8px 0px;
  }

  .contentDetails {
    font-weight: 500;
    font-size: 15px;
  }

  .rowMargin {
    margin-bottom: 4;
  }

  .card {
    padding: 0 5px;
    background-color: transparent !important;
    margin-top: 15px;
  }

  .media {
    height: 12em;
    border-radius: 0.2em !important;
  }

  .cardContent {
    padding: 0px;
    padding-top: 1em;
  }

  .nameCity {
    font-weight: 500;
    font-size: 0.8em !important;
    line-height: 16px !important;
    letter-spacing: normal !important;
    text-transform: uppercase;
    color: rgb(118, 118, 118) !important;
    text-overflow: ellipsis !important;
    white-space: nowrap;
    margin-bottom: 2px !important;
    overflow: hidden !important;
  }

  .nameRoom {
    font-weight: 500;
    font-size: 1.25em !important;
    line-height: 21px !important;
    max-height: 42px !important;
    text-overflow: ellipsis !important;
    display: -webkit-box !important;
    margin-top: 7px !important;
    margin-bottom: 4px !important;
    overflow: hidden !important;
    color: rgb(72, 72, 72) !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-transform: uppercase;
  }

  .priceRoom {
    font-weight: normal;
    font-size: 1em !important;
    line-height: 18px !important;
    letter-spacing: normal !important;
    color: rgb(72, 72, 72) !important;
    margin-bottom: 4px !important;
  }

  .totalReview {
    overflow-wrap: break-word;
    font-size: 12px !important;
    font-weight: 600;
    line-height: 1.3333em !important;
    color: rgb(72, 72, 72) !important;
    margin: 0px !important;
    float: left;
    padding-left: 4px;
  }

  .starRatings {
    float: left;
  }

  .boxPadding {
    padding: 20px;
  }

  .title {
    font-weight: 500;
    font-size: 1em;
    line-height: 21px;
    max-height: 42px;
    text-overflow: ellipsis;
    display: -webkit-box;
    overflow: hidden !important;
    color: rgb(109, 95, 95);
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-top: 13px;
  }

  .review {
    padding: 0px 5px;
  }

  .spanLike {
    font-weight: 600;
    font-size: 1em;
    line-height: 21px;
    padding-right: 25px;
    color: rgb(109, 95, 95);
  }

  .radio {
    padding-left: 0px;
    display: block;
  }

  .snackContent {
    background-color: #43a047;
  }

  .iconSnackContent {
    opacity: 0.9;
    margin-right: 8px;
    font-size: 20px;
  }

  .message {
    display: flex;
    align-items: center;
  }
}
