.pageSignin {
    height: 100vh;
    // padding: 30px 0px;
    width: 100%;
    background-size: cover;
    background-image: url("/static/images/backgroundSignup.png");

    @include xs {
      height: auto;
      padding: 30px 0px;
    }

    @include sm {
      height: auto;
      padding: 30px 0px;
    }

    @include md {
      height: auto;
      padding: 30px 0px;
    }
  
    .formSignin {
      padding: 20px;
      background: white;
      border-radius: 4px;
      box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
  
      .noAccount {
        // padding-top: 15px;
        text-align: center;
  
        a {
          color: $primary;
          font-size: 15px;
          font-weight: 600;
        }
      }
  
      .agreeRules {
        text-align: center;
        padding: 15px 0px;
  
        a {
          font-size: 15px;
          font-weight: 600;
          color: #343434;
        }
      }
  
      .buttonLoginWithSocial {
        display: flex;
        align-items: center;
        // justify-content: center;
        padding-left: 10px;
        flex-direction: row;
        cursor: pointer;
        height: 50px;
        border-radius: 5px;
        box-shadow: 0.5px 0.5px 1px 0.5px rgba(0, 0, 0, 0.3);
  
        p {
          padding-left: 10px;
          font-weight: 500;
          font-size: 1rem;
        }
      }
    }
  }
  