$primary: #fa991c; //orange
$primaryLT: #673ab7; //orange
$lightPink: #fbf3f2;
$darkBlue: #1c768f;
$purpleCharcoal: #032539;
$lightGreen: #95d2ba;
$success: #41c9bc;
$error: #eb465a;
$pending: #ffc87d;

// For text only
$titleText: #484848;
$subTitleText: #ffa712; //for attributes ( such as type of rooms; number of guest; beds...)
$secondaryText: #484848;
$blurText: #95a0b6;

// Background
$backgroundPrimary: #f7f9ff;
$backgroundWhite: #ffffff;

// Nice Gradient
$gradientFrom: #0f73ee;
$gradientTo: #c644fc;