.listRoomContainer {
  display: block !important;
  position: relative;
  .arrowIcon {
    width: 15px;
    height: 15px;
  }

  //Override Swiper CSS
  .swiper-container {
    position: static;
  }

  .swiper-button-prev.swiper-button-disabled,
  .swiper-button-next.swiper-button-disabled {
    opacity: 0;
  }

  @include smDown {
    .swiper-button-next,
    .swiper-button-prev {
      display: none !important;
    }
  }

  // End Override Swiper CSS

  .nextArrow {
    top: 40%;
    width: 34px;
    height: 34px;
    min-height: 13px;
    right: -1.2%;
    display: inline-block;
    cursor: pointer !important;
    text-align: center !important;
    line-height: 1 !important;
    position: absolute;
    touch-action: manipulation !important;
    box-shadow: rgba(0, 0, 0, 0.14) 0px 1px 1px 1px !important;
    background: white;
    &:hover {
      background: white;
    }
  }
  .prevArrow {
    z-index: 1;
    top: 40%;
    width: 34px;
    height: 34px;
    min-height: 13px;
    left: -1.2%;
    display: inline-block;
    cursor: pointer !important;
    text-align: center !important;
    line-height: 1 !important;
    position: absolute;
    touch-action: manipulation !important;
    box-shadow: rgba(0, 0, 0, 0.14) 0px 1px 1px 1px !important;
    background: white;
    &:hover {
      background: white;
    }
  }
}

.listRoomContainerWithoutSlickCustom {
  padding: 0 24px;
  display: block !important;

  @include mdDown {
    padding: 0;
  }

  %slickOpacity {
    opacity: 0.7;
    pointer-events: auto;
  }

  .slick-slider {
    height: 100%;
    .slick-next,
    .slick-prev {
      @include transition(all 150ms ease-in-out);
      @include xs {
        right: 0;
      }
      font-size: 0;
      line-height: 0;
      position: absolute;
      top: 50%;
      display: none;
      width: 20px;
      height: 100%;
      padding: 0;
      opacity: 0;
      -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
      cursor: pointer;
      color: transparent;
      border: none;
      outline: none;
      background: transparent;
      z-index: 20;
      pointer-events: none;
    }
    &:hover {
      display: block;
      .slick-next {
        right: 5px;
        @extend %slickOpacity;
      }
      .slick-prev {
        left: 5px;
        @extend %slickOpacity;
      }
    }
    .slick-dots {
      bottom: 0;
      li {
        margin: 0;
      }
    }
    .slick-slide {
      height: 100%;
    }
    .slick-list {
      border-radius: 4px 0 0 4px;

      @include xs {
        border-radius: 4px 4px 0 0;
      }
    }
  }
}
