@import "./searchAutoSuggestion/index.scss";
@import "./dateRangeSearch/index.scss";
@import "./chooseGuestRoom/index.scss";
@import "./roomCard/index.scss";
@import "./layout/footer.scss";
@import "./shared/index.scss";
@import "./listRoom/index.scss";
@import "./roomCardListing/index.scss";
@import "./ltRoomCardListing/index.scss";
@import "./longTermRental/listing/index.scss";
@import "./reusableComponents/index.scss";
@import "./geoSuggest/index.scss";
@import "./formik/index.scss";

.flex_columCenter {
  align-items: center;
  display: flex;
}

.flex_rowCenter {
  display: flex;
  justify-content: center;
}

.flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;

  border-bottom: 5px solid #ddd;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;

  border-top: 20px solid #ddd;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;

  border-left: 60px solid #ddd;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;

  border-right: 10px solid #ddd;
}

.tooltip {
  font-size: 0.8rem;
  max-width: 200px;
  padding: 5px;
  background-color: #ff9800;
}

.readmore {
  span > span {
    color: #08c299 !important;
  }
}

.slides {
  position: relative;
  .slick-prev,
  .slick-next {
    position: absolute;
    top: 50%;
  }
  .slick-prev {
    left: 5%;
  }
  .slick-next {
    right: 5%;
  }
}
