.RoomCardMobile {
  position: relative;
  color: #484848;
  border: 1px solid #ebebeb;
  border-radius: 16px !important;
  margin-bottom: 24px;
  transition: all 300ms !important;
  transition-property: all !important;
  transition-duration: 0.4s !important;
  transition-timing-function: ease !important;
  transition-delay: 0s !important;
  box-shadow: 0px -2px 14px rgba(0, 0, 0, 0.06) !important;
  &:hover {
    transform: scale(1.025);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 12px;
  }

  &__wrapper {
    height: 100%;
    position: relative;
  }

  .swiper-slide {
    background-color: grey;
  }

  .boxImg {

    //Override Swiper
    .swiper-container {
      height: 100%;
    }

    .swiper-button-next,
    .swiper-button-prev {
      background-image: none;
    }

    .swiper-button-next,
    .swiper-button-prev {
      display: none;
    }

    .swiper-pagination-bullet {
      background: #fff;
      opacity: 0.5;
    }

    .swiper-pagination-bullet-active {
      background: #fff;
      opacity: 1;
    }

    &:hover {

      .swiper-button-next,
      .swiper-button-prev {
        display: block;
      }
    }

    // End Override Swiper
    z-index: 0;
    position: relative;
    .imgSize {
      position: relative;
      object-fit: cover;
      height: 169px;
      vertical-align: middle;
      border-radius: 16px 16px 0 0;
      width: 100%;
      @keyframes fadein {
        from {
          opacity: 0;
        }

        to {
          opacity: 1;
        }
      }

      -webkit-animation: fadein 0.5s ease-in-out;
      animation: 500ms ease-in-out 0ms 1 normal none running fadein;
    }

    .imgSizeInMap {
      position: relative;
      object-fit: cover;
      height: 180px;
      vertical-align: middle;
      border-radius: 16px 16px 0 0;
      width: 100%;

      @include xs {
        height: 200px;
      }

      @keyframes fadein {
        from {
          opacity: 0;
        }

        to {
          opacity: 1;
        }
      }

      -webkit-animation: fadein 0.5s ease-in-out;
      animation: 500ms ease-in-out 0ms 1 normal none running fadein;
    }

  }

  .boxSave {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 35px;
    height: 35px;
    text-align: center;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    border-radius: 50%;

    .boxFavorite {
      position: absolute;
      height: 50px;
      width: 50px;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
    }
  }

  .Lottie_iconHeart {
    min-height: 20px;
    min-width: 20px;
    cursor: pointer;
  }

  .iconCompare {
    color: #08C299;
    padding: 6px;
    font-size: 1.15rem;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  }

  .boxCard {
    width: 100%;
    vertical-align: middle;

    .cardWrapper {
      height: 100%;
      padding: 8px 16px;
      box-sizing: border-box;

      .cardContainer {
        position: relative;
        height: 100%;
        width: 100%;
        display: inline-block;

        .boxLink {
          display: block;
          color: #484848;
          text-decoration: none !important;
          cursor: pointer;
          font-weight: 500;

          .boxTitle {
            .roomName {
              overflow: hidden;
              overflow-wrap: break-word;
              font-style: normal;
              font-weight: bold;
              font-size: 16px;
              line-height: 22px;
              letter-spacing: 0.065882px;
              color: #484848;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              text-overflow: ellipsis;
              -webkit-box-orient: vertical;
              @include sm {
                max-height: 52px;
                height: 52px;
              }
              @include xs {
                margin-bottom: 10px;
              }

              .svgQuick {
                color: #673ab7;
                position: relative;
                top: 7px;
                margin-right: 8px;
              }
            }

            .roomType {
              text-transform: uppercase;
              font-size: 12px;
              font-weight: 600;
              color: #673ab7;
              display: inline-block;
              margin-right: 3px;
            }
            .address {
              font-weight: normal;
              font-size: 11px;
              line-height: 13px;
              letter-spacing: 0.07px;
              color: #767676;
            }

            .dotAmenties {
              display: inline-block;
              vertical-align: text-bottom;
              margin: 0 3px;
              color: #8A8A8F;
            }

            .collectionAmenities {
              overflow-wrap: break-word;
              font-size: 14px;
              color: #484848;
            }

            .ul {
              display: flex;
              padding: 0;
              margin: 6px 0 0 0;
              list-style-type: none;
              .list {
                padding-right: 4px;
              }
            }

            .tooltip {
              font-size: 0.8rem;
              max-width: 200px;
              padding: 5px;
              .borderblue {
                border: 1px solid #7676768a;
              }
            }
          }

          .boxRating {
            position: absolute;
            bottom: 0px !important;
            left: 0px !important;
            right: 128px !important;
            display: flex;
            font-size: 13px;
            align-items: flex-end;

            .starIcon {
              width: 20px;
              height: 20px;
              color: #ffc212;
            }

            .totalReview {
              color: #767676;
              font-weight: 300;
            }

            .totalReviewText {
              margin-left: 10px;
              color: #673ab7;
              font-weight: 500;
            }

            .avgRating {
              font-weight: 700;
            }
          }

          .boxPrice {
            margin-top: 12px;

            .priceBasic {
              font-weight: bold;
              font-size: 18px;
              line-height: 24px;
              letter-spacing: 0.38px;
              color: #484848;
            }
          }
        }
      }
    }
  }
}