@import "./boxBooking/index.scss";
@import "./navBottomBook/index.scss";
@import "./boxImage/index.scss";

.roomPage {
  .headroom-wrapper{
    position: absolute;
    width: 100%;
    background: transparent;
    z-index: 9;
  }
  .headroom--pinned {
    background: #fff;
    box-shadow: 0 0 12px rgba(0,0,0,.12);
  }

  &__boxViewMore{
    left: 50%;
    width: 90% !important;
    bottom: 0%;
    padding: 14px 18px;
    position: absolute;
    transform: translate(-50%, -35%);
    background: rgba(255, 255, 255, 0.18);
    border-radius: 20px;
    backdrop-filter: blur(27.1828px);
    @include smUp {
      width: 50% !important;
    }
  }

  &__boxBooking {
    @include xs {
      display: none;
    }

    @include sm {
      display: none;
    }

    @include md {
      display: none;
    }
  }

  &__boxBookingMoblie {
    @include lg {
      display: none !important;
    }

    @include xl {
      display: none !important;
    }
  }

  &__disabledBoxBooking,
  &__disabledBoxBookingMoblie,
  &__disabledBoxSearch {
    pointer-events: none;
    // opacity: 0.5;
  }

  .Lottie_iconHeart {
    width: 60px;
    height: 60px;
    cursor: pointer;
  }

}