.DateRangePicker {
  width: 100%;
  .DateRangePickerInput {
    width: 100%;
    background-color: transparent;
    text-align: center;
  }
  .DateRangePickerInput_calendarIcon {
    margin: 0;
  }
  .DateInput{
    padding: 0 5px;
    width: 46%;
    background-color: transparent;
    
    .DateInput_input {
      padding: 0;
      font-size: 16px;
      line-height: 45px;
      cursor: pointer;
      width:100%;
      text-align: center;
      background-color: transparent;
    }
  }
  .DateInput_input__focused {
    border: none;
  }
}

//man hinh lg tro len
@media (min-width: 1200px) and (max-width: 1440px) {

}

//md
@media (min-width: 992px) and (max-width: 1199px) {
  .DateRangePickerInput_calendarIcon {
    padding: 2px;
  }
  .DateRangePicker .DateInput {
    padding: 0 5px;
    width: 38%;
  }
  .DateRangePicker .DateInput .DateInput_input {
    font-size: 15px;
  }
  .DateRangePickerInput_arrow_svg {
    height: 18px;
    width: 18px;
  }
}

//sm
@media (min-width: 768px) and (max-width: 991px) {
  .DateRangePicker .DateInput .DateInput_input {
    font-size: 14px;
  }
  .DateRangePicker .DateInput {
    padding: 0 5px;
    width: 37%;
  }
  .DateRangePickerInput_arrow_svg {
    height: 18px;
    width: 18px;
  }
  .DateRangePickerInput_calendarIcon {
    padding: 5px;
  }
}

