.RoomCardBusinessTrip {
  position: relative;
  color: #484848;
  border: 1px solid #ffffff;
  border-radius: 8px !important;

  &__wrapper {
    height: 100%;
    position: relative;
  }

  .swiper-slide {
    background-color: grey;
  }

  &__boxImg {
    // End Override Swiper
    z-index: 0;
    position: relative;
    .imgSize {
      position: relative;
      object-fit: cover;
      // height: 220px;
      vertical-align: middle;
      border-radius: 8px;
      width: 100%;
      //xs

      @keyframes fadein {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }

      -webkit-animation: fadein 0.5s ease-in-out;
      animation: 500ms ease-in-out 0ms 1 normal none running fadein;
    }
    @media (min-width: 320px) and (max-width: 374px) {
      .imgSize {
        height: 180px !important;
      }
    }
    .RoomCardBusinessTrip__boxPrice {
      position: absolute;
      top: 5px;
      padding: 5px;
      background-color: #e37b7b;
      color: #ffffff;
      font-weight: 600;
      font-size: 16px;
      border: 1px solid;
      // border-bottom-right-radius: 10px;
      .unitPrice {
        font-size: 10px;
      }
    }
  }
  &__boxCard {
    width: 100%;
    vertical-align: middle;

    .cardWrapper {
      height: 100%;
      box-sizing: border-box;

      .cardContainer {
        position: relative;
        height: 100%;
        width: 100%;
        display: inline-block;

        .boxLink {
          display: block;
          color: #8a8a8f;
          text-decoration: none !important;
          cursor: pointer;
          font-weight: 500;

          .boxTitle {
            .marginRoomName {
              margin-bottom: 5px;
              .roomType {
                color: #484848;
                margin-top: 8px;
                font-size: 12px;
                line-height: 12px;
                font-weight: 600;
                margin-bottom: 4px;
                text-transform: uppercase;
              }
            }

            .roomName {
              overflow: hidden;
              overflow-wrap: break-word;
              font-style: normal;
              letter-spacing: 0.065882px;
              color: #484848;
              display: -webkit-box;
              // -webkit-line-clamp: 1;
              text-overflow: ellipsis;
              -webkit-box-orient: vertical;
              font-size: 14px;
              line-height: 18px;
            }
            .address {
              overflow: hidden;
              color: #484848;
              display: -webkit-box;
              -webkit-line-clamp: 1;
              text-overflow: ellipsis;
              -webkit-box-orient: vertical;
              margin-top: 8px;
              font-size: 11px;
              line-height: 12px;
              font-weight: 600;
              margin-bottom: 4px;
              // text-transform: uppercase;
            }

            .dotAmenties {
              display: inline-block;
              vertical-align: text-bottom;
              margin: 0 3px;
              color: #8a8a8f;
            }
          }
          .boxPriceContainer {
            display: flex;
            align-content: space-between;
          }
        }
      }
    }
  }
}
