.ltRoomCardListing {
  position: relative;
  color: #484848;
  border: 1px solid #ebebeb;
  border-radius: 16px !important;
  margin-top: 24px;
  transition: all 300ms !important;
  transition-property: all !important;
  transition-duration: 0.4s !important;
  transition-timing-function: ease !important;
  transition-delay: 0s !important;

  @include xs {
    height: 100%;
  }

  @include smUp {
    height: auto;
  }

  @include md {
    height: auto;
  }

  &:hover {
    transform: scale(1.025);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 12px;
  }

  &__wrapper {
    height: 100%;
  }

  .swiper-slide {
    background-color: grey;
  }

  .boxImg {

    //Override Swiper
    .swiper-container {
      height: 100%;
    }

    .swiper-button-next,
    .swiper-button-prev {
      background-image: none;
    }

    .swiper-button-next,
    .swiper-button-prev {
      display: none;
    }

    .swiper-pagination-bullet {
      background: #fff;
      opacity: 0.5;
    }

    .swiper-pagination-bullet-active {
      background: #fff;
      opacity: 1;
    }

    &:hover {

      .swiper-button-next,
      .swiper-button-prev {
        display: block;
      }
    }

    // End Override Swiper
    z-index: 0;
    position: relative;
    //padding: 4px;

    .imgSize {
      position: relative;
      object-fit: cover;
      height: 280px;
      vertical-align: middle;
      border-radius: 16px 16px 0 0;
      width: 100%;

      @include xs {
        height: 200px;
      }

      @keyframes fadein {
        from {
          opacity: 0;
        }

        to {
          opacity: 1;
        }
      }

      -webkit-animation: fadein 0.5s ease-in-out;
      animation: 500ms ease-in-out 0ms 1 normal none running fadein;
    }

    .imgSizeInMap {
      position: relative;
      object-fit: cover;
      height: 180px;
      vertical-align: middle;
      border-radius: 16px 16px 0 0;
      width: 100%;

      @include xs {
        height: 200px;
      }

      @keyframes fadein {
        from {
          opacity: 0;
        }

        to {
          opacity: 1;
        }
      }

      -webkit-animation: fadein 0.5s ease-in-out;
      animation: 500ms ease-in-out 0ms 1 normal none running fadein;
    }

  }

  .boxSave {
    position: absolute;
    right: -16px;
    bottom: -12px;
    width: 60px;
    height: 60px;
    text-align: center;

    @include xs {
      bottom: -4px;
    }
  }

  .Lottie_iconHeart {
    cursor: pointer;
  }

  .iconCompare {
    color: #08C299;
    padding: 6px;
    font-size: 1.15rem;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  }

  .boxCard {
    width: 100%;
    vertical-align: middle;

    .cardWrapper {
      height: 100%;
      padding: 8px 16px;
      box-sizing: border-box;

      .cardContainer {
        position: relative;
        height: 100%;
        width: 100%;
        display: inline-block;

        .boxLink {
          display: block;
          color: #484848;
          text-decoration: none !important;
          cursor: pointer;
          font-weight: 500;

          .boxTitle {
            .roomName {
              overflow: hidden;
              font-size: 15px;
              font-weight: 600;
              overflow-wrap: break-word;
              color: #484848;
              line-height: 24px;
              margin-bottom: 6px;
              display: -webkit-box;
              max-height: 52px;
              height: 52px;
              -webkit-line-clamp: 2;
              text-overflow: ellipsis;
              -webkit-box-orient: vertical;

              @include xs {
                margin-bottom: 10px;
              }

              .svgQuick {
                color: #673ab7;
                position: relative;
                top: 7px;
                margin-right: 8px;
                // -webkit-filter: drop-shadow(2px 3px 2px rgba(246, 116, 57, .4));
                // filter: drop-shadow(2px 3px 2px rgba(246, 116, 57, .4));
              }
            }

            .roomType {
              text-transform: uppercase;
              font-size: 12px;
              font-weight: 600;
              color: #673ab7;
              display: inline-block;
              margin-right: 3px;
            }

            .dotAmenties {
              display: inline-block;
              vertical-align: text-bottom;
              margin: 0 3px;
              font-weight: 700;
            }

            .collectionAmenities {
              overflow-wrap: break-word;
              font-size: 14px;
              color: #484848;
            }

            .ul {
              display: flex;
              padding: 0;
              margin: 6px 0 0 0;
              list-style-type: none;

              .list {
                padding-right: 4px;
              }
            }

            .tooltip {
              font-size: 0.8rem;
              max-width: 200px;
              padding: 5px;

              // background-color: #ff980;
              .borderblue {
                border: 1px solid #7676768a;
              }
            }
          }

          .boxRating {
            position: absolute;
            bottom: 0px !important;
            left: 0px !important;
            right: 128px !important;
            display: flex;
            font-size: 13px;
            align-items: flex-end;

            .starIcon {
              width: 20px;
              height: 20px;
              color: #ffc212;
            }

            .totalReview {
              color: #767676;
              font-weight: 300;
            }

            .totalReviewText {
              margin-left: 10px;
              color: #673ab7;
              font-weight: 500;
            }

            .avgRating {
              font-weight: 700;
            }
          }

          .boxPrice {
            margin-top: 12px;

            .priceBasic {
              font-weight: 500;
              color: #484848;
            }

            .priceContainer {
              @include lgUp {
                display: flex;
              }

              @include xs {
                justify-content: flex-end;
              }
            }

            .hourPrice {
              @media (min-width: 700px) {
                display: inline-block;
              }
            }

            .dayPrice {
              @include sm {
                display: inline-block;
              }
            }

            .priceText {
              font-size: 15px;
              margin-left: 20px;
              color: #673ab7;
              font-weight: 700;
            }

            .discountPriceText {
              font-size: 13px;
              color: #7d7d7db3;
              text-decoration: line-through;
              font-weight: 700;
            }

            .discountPriceBadge {
              width: calc(100% + 22px);
              position: relative;
              text-align: right;
              border-radius: 2px;
              margin-bottom: 9px;

              .discountBox {
                color: #fff;
                padding: 4px 10px 4px 8px;
                display: inline-block;
                font-size: 14px;
                font-weight: 700;
                border-radius: 2px;
                background-color: #ff9800;
              }
            }
          }

          .boxsave {
            position: absolute;
            right: -16px;
            bottom: -8px;
            width: 60px;
            height: 60px;
            // tooltipRoomCard: {
            //   position: "relative",
            //   verticalAlign: "top",
            //   width: "100%",
            //   padding: 0,
            //   color: "white",
            //   textAlign: "center",
            //   textShadow: "0 1px 2px rgba(0, 0, 0, 0.25)",
            //   background: "#f39c12",
            //   border: 0,
            //   borderBottom: "2px solid #e8930c",
            //   cursor: "pointer",
            //   WebkitBoxShadow: "inset 0 -2px #e8930c",
            //   boxShadow: "inset 0 -2px #e8930c"
            // }
          }
        }
      }
    }
  }
}