.directPayment {
  background: $backgroundPrimary;

  &__content {
    background: white;
    margin-top: 30px !important;
    padding: 40px;

    .textRight {
      text-align: right;
    }

    .image {
      width: 100%;
      height: auto;
    }

    .nameRoom {
      font-size: 16px;
      font-weight: 600;
    }

    .margintop {
      margin-top: 50px;

      @include xs {
          margin-top: 30px;
      }

      @include sm {
          margin-top: 30px;
      }
    }
  }
}
