.bookingInfoDetail {

  .boxInfoCus{
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 12px 0;
    .titleInfo{
      font-weight: 600;
    }
  }
  .card {
    display: flex;
    border-radius: 2px;
  }

  .cover {
    @include xs {
      width: 180px;
    }

    @include sm {
      width: 180px;
    }

    @include md {
      width: 130px;
    }

    @include lg {
      width: 100px;
    }

    @include xl {
      width: 100px;
    }

    height: 80px;
    object-fit: cover;
  }

  .timeCheck {
    border-top: 1px solid #eee;
  }

  .dividerMargin {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .flexCenter {
    display: flex;
  }

  .fontLow {
    font-size: 0.9rem;
  }

  .fontLowTitle {
    font-size: 0.9rem;
    // color: #999;
  }

  .spaceTop {
    margin-top: 8px;
  }

  .paperCustomOuter {
    padding: 15px;
    margin-bottom: 1rem;
    background: #f2fbf7;
    box-shadow: none !important;
  }

  .infoRoom {
    cursor: pointer;
    margin-bottom: 8px;

    &__name {
      > p {
        font-weight: 600;
        cursor: pointer;
        overflow: hidden;
        font-size: 15px;
        overflow-wrap: break-word;
        color: #484848;
        line-height: 24px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
      }
    }

    .imgSize {
      object-fit: cover;
      width: 100%;
      border-radius: 8px;
      vertical-align: middle;
    }

    .address {
      font-size: 0.8rem;
      font-weight: 500;
    }
  }
}

.settingBooking {
  width: 320px;
}
