@import "./description.scss";
@import "./room.scss";

//TYPOGRAPHY

.createListing-heading-1 {
  margin: 0px;
  word-wrap: break-word;
  font-size: 24px;
  font-weight: 800;
  line-height: 1.25em;
  color: #484848;
  padding: 2px 0;
}

.box-district {
  @include xs {
    margin-bottom: 32px !important;
  }

  @include md {
    padding-left: 20px !important;
  }

  @include lg {
    padding-left: 20px !important;
  }
}

.createListing-heading-2 {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.1em;
  padding: 10px 0;
}

.createListing-subTitle {
  margin: 0px;
  word-wrap: break-word;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.375em;
  color: #484848;
  margin-bottom: 20px;
}

.createListing-title-select {
  overflow-wrap: break-word;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.375em;
  color: rgb(118, 118, 118);
  margin: 0px;
}

.createListing-quantityButton {
  margin: 0px;
  word-wrap: break-word;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.375em;
  color: #484848;
}